<fieldset id="rating" class="flex justify-center items-center gap-4 mt-4">
  <input type="radio" id="rate1" name="rating" value="1" (change)="onRatingChange(1)">
  <input type="radio" id="rate2" name="rating" value="2" (change)="onRatingChange(2)">
  <input type="radio" id="rate3" name="rating" value="3" (change)="onRatingChange(3)">
  <input type="radio" id="rate4" name="rating" value="4" (change)="onRatingChange(4)">
  <input type="radio" id="rate5" name="rating" value="5" (change)="onRatingChange(5)">
</fieldset>


