<div class="flex flex-col min-h-screen">
  <div class="fixed w-full ">
    <app-header></app-header>

  </div>

<div class="bg-gray-900 mt-4 py-20 flex-grow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base font-semibold text-indigo-600 uppercase tracking-wide">
        {{"aboutProject" | translate}}
      </h2>
      <p class="mt-2 text-3xl font-extrabold text-white sm:text-4xl lg:text-5xl">
        {{"crudApplication" | translate}}
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-400 lg:mx-auto">
        {{"streamlineOperationsAbout" | translate}}
      </p>
    </div>

    <div class="mt-10">
      <div class="lg:text-center">
        <h2 class="text-2xl font-bold text-white mb-4">{{"createdBy" | translate}}</h2>
        <p class="text-lg text-gray-400">
          {{"createdBy" | translate}} <span class="text-indigo-400">MEFTAH Ahmed Reda</span>
        </p>
      </div>

      <div class="mt-8 lg:text-center">
        <h2 class="text-2xl font-bold text-white mb-4">{{"usedTechnologies" | translate}}</h2>
        <div class="flex flex-wrap justify-center text-center">
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-angular-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Angular"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Angular_wordmark_gradient.png" style="width: 10rem;" alt="Angular"></abbr></span>
          </div>
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-typescript-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="TypeScript"><img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" style="width: 3rem;" alt="TypeScript"></abbr></span>
          </div>
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-tailwindcss-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Tailwind CSS"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg" style="width: 4rem;" alt="Tailwind CSS"></abbr>Tailwind CSS</span>
          </div>
        </div>
        <div class="flex flex-wrap justify-center text-center">
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-angular-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Java"><img src="https://www.vectorlogo.zone/logos/java/java-ar21.svg" style="width: 14rem;" alt="Java"></abbr></span>

          </div>
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-typescript-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Spring Boot"><img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Spring_Boot.svg" style="width: 4rem;" alt="Spring Boot"></abbr></span>
          </div>
        </div>
      </div>

      <div class="mt-8 lg:text-center">
        <h2 class="text-2xl font-bold text-white mb-4">IDE</h2>

        <div class="flex flex-wrap justify-center text-center">
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-typescript-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Intellij IDEA"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/IntelliJ_IDEA_Icon.svg" style="width: 6rem;" alt="Intellij IDEA"></abbr></span>
          </div>

        </div>
      </div>

      <div class="mt-8 lg:text-center">
        <h2 class="text-2xl font-bold text-white mb-4">{{"aiTools" | translate}}</h2>

        <div class="flex flex-wrap justify-center text-center">
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-angular-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="Phind"><img src="https://assets-global.website-files.com/63daf1fa1abcbc5e7969d7c9/649c1c45fe99682305f492eb_phind-fav.png" style="width: 4rem;" alt="Phind"></abbr></span>

          </div>
          <div
            class=" p-4 m-2 text-gray-400 flex items-center"
          >
            <i class="devicon-typescript-plain text-4xl mr-2"></i>
            <span class="text-lg"><abbr title="chat.openai"><img src="https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg" style="width: 4rem;" alt="chat.openai"></abbr></span>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

</div>
